@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply bg-white dark:bg-gray-800 text-black dark:text-white;
}
.main__video-container{
  @apply w-full;
  .video__info-text {
    @apply h-16;
  }
}

.sidebar__li{
  @apply text-xl h-10 hover:bg-pink-600;
  i{
    @apply mr-2;
  }  
}

.header__avatar{
  @apply rounded-full;
}

.smile{
  @apply text-2xl w-14 h-14;
}

.header__menu-icon{
  @apply mx-1 text-2xl;
}

#avatar__box{
  @apply w-12 h-12 rounded-full bg-center;
}

@keyframes goAway {
  from{
      transform:none;
      opacity: 1;
  }
  to{
      transform: translateY(-50px);
      opacity: 0;
  }
}

.message {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 200px;
  padding: 10px 20px;
  border-radius: 10000px;
  text-align:center;
  animation: goAway .5s ease-in-out forwards ;
  animation-delay: 5s;
  &.error{
      background-color: tomato;
      color:white;        
  }
}

#comment__container{
  @apply flex;
}

.video__comments,
.video__comment-form{
  @apply w-full ml-4;
}

.video__comment-form{
  @apply flex flex-col max-w-full;
  div{
    @apply grid place-items-end mt-2;
  };
  textarea{
    @apply w-full h-10 rounded-md text-black my-1 overflow-auto;
  };
}

.comment__btn{
  @apply w-24 h-10 bg-pink-600 text-white text-center justify-self-end rounded-md;
}

.join__form,
.login__form,
.upload__form,
.edit-profile__form{
  input{
    @apply w-full h-10 rounded-md text-black focus:text-indigo-600 my-1;
  };
  input[type="submit"]{
    @apply bg-red-500 mt-4;
  };
  @apply max-w-sm;
}

.form__screen{
  @apply w-full grid place-items-center;
}

.auth-switch{
  @apply text-center mt-10;
  a{
    @apply underline;
  }
}

.video__info{
  @apply mt-4 items-center h-16 flex;
  a:first-child{
    @apply w-14 h-14;
  }
}

.video__info-text{
  @apply ml-2;
  span{
    @apply font-bold;
  }
}
#timeSpace{  
  @apply invisible text-center lg:visible;
}

#author__container{
  @apply flex justify-between w-full items-center;
  p{
    @apply text-base;
  }
}
#video__owner-menu,
#comment__menu{
  @apply overflow-hidden;
  >button{
    @apply w-4 h-10 rounded-xl flex items-center justify-center outline-none border-none;
  }
  &:hover .dropdown{
    @apply block;
  }
}

.dropdown{
  &.mine{
    @apply h-24;
  }
  &.not__mine{
    @apply h-12;
  }
  @apply hidden absolute w-24 text-black dark:text-white shadow-xl z-40 bg-blue-200;
  div{
    @apply flex items-center w-24 h-12;
    i, button{
      @apply px-2;
    }
    button{
      @apply w-full h-full border-none outline-none;
      &:hover{
        @apply cursor-pointer;
      }
    }
    &:hover{
      @apply bg-blue-400 text-white;
    }
  }
}

video{
  @apply bg-center bg-contain bg-black;
}

#videoContainer{
  #videoControls{
    transition: opacity 0.5s ease-in-out;
    @apply opacity-0 grid grid-cols-6 py-2 items-center bg-black text-white showing;
    &.showing {
      opacity: 1;
    }
  }
}

.expanded{
  @apply w-full h-full;
}

.empty__message {
  @apply mb-10 text-lg;
}
.video-grid {
  @apply grid grid-cols-4 gap-12;
}

.sidebar__menu,
.avatar__body{
  @apply invisible lg:visible;
}