extends templates/layout
include mixins/video
block sidebar
  nav.px-4.w-72
    div
      ul
        li.sidebar__li
          a(href="/")
            i.fas.fa-home
            span Home
        li.sidebar__li
          a(href="/search")
            i.fas.fa-search
            span Search
        li.sidebar__li
          a(href="#")
            i.fas.fa-folder-plus
            span Subscription
        li.sidebar__li
          a(href="#")
            i.fab.fa-youtube
            a(href="#") Originals
        li.sidebar__li
          a(href="#") 
            i.fas.fa-music
            span Youtube Music
        li.sidebar__li
          a(href="#") 
            i.fas.fa-history
            span History
block content
  each video in videos
    +video(video)
  else
    span No Videos Found