include ../mixins/avatar

header.flex.justify-between.items-center
  a(href="/")
    i.fab.fa-youtube.text-red-600.text-5xl
  form(method="GET", action="/search")
    input(placeholder="검색", type="text", name="keyword").mr-2.h-10.rounded-md
    button.bg-gray-400.w-14.h-10.rounded-md
      i.fas.fa-search
  div.flex.items-center
    label(for="checkbox").inline-block.h-4.w-10.relative
      input(type="checkbox", name="checkbox").hidden
      div.slider.round
  ul.flex
    if loggedIn
      li.header__menu-icon
        a(href="/videos/upload")
          i.fas.fa-video
      li.header__menu-icon
        a(href="/users/edit")
          i.fas.fa-user-edit
      li.header__menu-icon
        a(href="/users/logout")
          i.fas.fa-sign-out-alt
      li.header__menu-icon
        a(href=`/users/${loggedInUser._id}`)
          +avatar(loggedInUser)
    else
      li.header__menu-icon
        a(href="/login")
          i.fas.fa-sign-in-alt          
      li.header__menu-icon
        a(href="/join")
          i.fas.fa-user-plus