nav.px-4.w-72
  div
    ul
      li.sidebar__li
        a(href="/")
          i.fas.fa-home
          span.sidebar__menu Home
      li.sidebar__li
        a(href="/search")
          i.fas.fa-search
          span.sidebar__menu Search
      li.sidebar__li
        a(href="#")
          i.fas.fa-folder-plus
          span.sidebar__menu Subscription
      li.sidebar__li
        a(href="#")
          i.fab.fa-youtube
          span.sidebar__menu Originals
      li.sidebar__li
        a(href="#") 
          i.fas.fa-music
          span.sidebar__menu Youtube Music
      li.sidebar__li
        a(href="#") 
          i.fas.fa-history
          span.sidebar__menu History
