div.social-login
  a(href="/users/github/start").social__btn.social__btn--github.w-full.h-16.bg-purple-300.rounded-full.flex.justify-center.items-center.text-2xl
    i.fab.fa-github.text-3xl
    | Continue with Github &rarr;