extends ../templates/layout

block content
  div.form__screen
    if errorMessage
      span=errorMessage
    form(method="POST").edit-profile__form
      label(for="oldPassword") Old Password
      input(placeholder="Old Password",type="password", name="oldPassword")
      label(for="newPassword") New Password
      input(placeholder="New Password",type="password", name="newPassword")
      label(for="newPasswordConfirmation") New Password Confirmation
      input(placeholder="New Password Confirmation",type="password", name="newPasswordConfirmation")
      input(value="Change Password", type="submit")